# GitLab user. git by default
user: <%= @user %>

# Url to gitlab instance. Used for api calls. Should end with a slash.
# Default: http://localhost:8080/
# You only have to change the default if you have configured Unicorn
# to listen on a custom port, or if you have configured Unicorn to
# only listen on a Unix domain socket.
gitlab_url: <%= @url %>

http_settings:
#  user: someone
#  password: somepass
#  ca_file: /etc/ssl/cert.pem
#  ca_path: /etc/pki/tls/certs
  self_signed_cert: <%= @self_signed_cert %>

# Repositories path
# Give the canonicalized absolute pathname,
# REPOS_PATH MUST NOT CONTAIN ANY SYMLINK!!!
# Check twice that none of the components is a symlink, including "/home".
repos_path: "<%= @repos_path %>"

# File used as authorized_keys for gitlab user
auth_file: "<%= File.join(@home, ".ssh", "authorized_keys") %>"

# Redis settings used for pushing commit notices to gitlab
redis:
  bin: <%= @redis_path %>
  host: <%= @redis_host %>
  port: <%= @redis_port %>
  <% if @redis_unixsocket and not @redis_unixsocket.empty? %>
  socket: <%= @redis_unixsocket %>
  <% end %>
  <% if @redis_database %>
  database: <%= @redis_database %>
  <% end %>
  namespace: <%= @namespace %>

# Log file.
# Default is gitlab-shell.log in the root directory.
# log_file: "<%= File.join(@home, "gitlab-shell", "gitlab-shell.log") %>"

# Log level. INFO by default
log_level: INFO

# Audit usernames.
# Set to true to see real usernames in the logs instead of key ids, which is easier to follow, but
# incurs an extra API call on every gitlab-shell command.
audit_usernames: false
